Click==7.0
Flask==1.1.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
gunicorn==19.9.0
httplib2==0.14.0
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
oauthlib==3.1.0
pipwin==0.4.5
protobuf==3.9.1
pycodestyle==2.5.0
pydot-ng==2.0.0
pyjsparser==2.7.1
pynput==1.4.2
pyparsing==2.4.2
PyPrind==2.11.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
robobrowser==0.5.3
rsa==4.0
six==1.12.0
soupsieve==1.9.3
termcolor==1.1.0
tzlocal==2.0.0
uritemplate==3.0.0
Werkzeug==0.15.5
wrapt==1.11.2
xlrd==1.2.0
